.header {
  /*  95% of the viewport height */
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light,.8), rgba($color-primary-dark,.8)), url(../img/hero-small.jpg);
  /*  will always try to fit the element inside the box */
  background-size: cover;
  /* crop image to top */
  background-position: top;

  /* https://bennettfeely.com/clippy/ */
  -webkit-clip-path:polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;


  @supports(clip-path: polygon(0 0)) or (webkit-clip-path: polygon(0 0)){
    height: 95vh;
  }

  // "," is an or operator
  @media only screen and  (min-resolution: 192dpi) and (min-width:37.5em), only screen and (min-width:125em),only screen and (-webkit-min-device-pixel-ratio:2) and (min-width:37.5em){
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,.8), rgba($color-primary-dark,.8)), url(../img/hero.jpg);

  }

  @include respond(phone){
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    /*  counts from parent (header if set relative) */
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__logo {
    height: 35px;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /*  translate entire box no longer in relation of the parents element */
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
